---
layout: archive
title: "Working Papers & Works in Progress"
permalink: /working-papers/
author_profile: true
---

{% include base_path %}

<h2>Working Papers</h2><hr />
<ul>
  <li>Unexpected Work Incentives: How Cash Transfers Raise Refugee Men's Labor Supply (with A. Hızıroğlu Aygün, M.G. Kırdar, and Q. Stoeffler). <a href="https://www.rfberlin.com/network-paper/unexpected-work-incentives-how-cash-transfers-raise-refugee-mens-labor-supply/">Download link</a></li>
{% for post in site.publications reversed %}
  {% if post.category == "working_papers" and post.venue != "In progress" %}
    {% include publication-list-item.html %}
  {% endif %}
{% endfor %}
</ul>

<h2>Works in Progress</h2><hr />
<ul>
{% for post in site.publications reversed %}
  {% if post.category == "working_papers" and post.venue == "In progress" %}
    {% include publication-list-item.html %}
  {% endif %}
{% endfor %}
</ul>
